.body {
  background-color: white;

}
.card {
  max-width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  background-color: darkgrey;
  border-radius: 13px;
}
.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {

}
.card-list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.checked {
  background-color: grey;
  color: white;
}
.js-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#search {
  width:300px;
}
#search-button {
  margin-top: 20px;
}
